
h1 {
    color:black;
    font-family: Source Sans Pro;
    font-size:400%
}

p {
    color:black;
    font-family:Source Sans Pro;
    font-size:150%;
}
.cover {
    width: 350px;
    height: 350px;
    display: inline-block;
    background-size: cover;
}

.cover.playing {
    border: 5px solid #2ebd59;
}

.cover:hover {
    cursor: pointer;
}

#loggedin #options {
    display: hidden;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

#spotify {
    background: #2ebd59;
}

.box {   
    border-radius: 3px;
    padding: 20px;
    width: 70%;
    display: inline-block;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.6);
}

img {
    max-width: 100%;
}

.section-heading{
    background-color: rgba(0,0,0,0.75);
    padding: 2em;
    color: rgba(200,200,200,1);

}

.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    background-color: black;
    text-align: center;
}