
#search-form, .form-control {
    margin-bottom: 20px;
}
.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}

.cover.playing {
    border: 5px solid #2ebd59;
}

.cover:hover {
    cursor: pointer;
}

#login, #loggedin {
    display: none;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

#spotify {
    background: #2ebd59;
}

.box {   
    border-radius: 3px;
    padding: 30px;
    padding-bottom: 20px;
    width: 50%;
    display: inline-block;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.6);
}

img {
    max-width: 100%;
}